body { 
    background-color: lightblue;
}

/*  Nav bar*/
.navbar {
  background-color:darkmagenta;
  overflow: hidden;
}
.navbar a {
  float: left;
  color:black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2.5vw;
  font-weight: bolder;
}
.navbar a:hover{
  background-color: #ddd;
  color:black
}  
 
  
  
/* div class=pealkiri */
img.pealkiri {
    position: absolute;
    width: 360px;
    height: 240px;
    position: relative; top: 40px;
    position: relative; left: 40px;

}


h1.pealkiri {
    text-transform: uppercase;
    text-align: center;
    color: purple;
    font-size: 10vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p.pealkiri {
    text-align: center;
    font-style: italic;
    font-size: 3.4vw;
    text-decoration: wavy;
}
video.pealkiri {
  width: 320px;
  height: 240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
img.artikkel {
  width: 640px;
  height: 360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2.artikkel {
  font-size: 2.1vw;
  text-align: center;
}
a:link {
  color: purple;
  background-color: transparent;
}
a:visited {
  color: plum;
  background-color: transparent;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color:blue;
  background-color: transparent;
  text-decoration: underline;
}
